.anchor-to-main-content {
  padding: 3px 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 5px);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  display: none;
}
