.btn {
  border-radius: 5px;
  padding: 23px 13px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;

  &-and-link {
    background-color: $color-primary1;
    color: white;

    &:hover {
      background-color: $color-primary2;
      color: initial;
    }
  }

  &--photographer-page {
    margin-right: auto;
    margin-left: 20px;

    @include mobile-only {
      position: fixed;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}
